p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  /* This is a comment in css */
  padding-top: 70px;
  padding-left: 96px;
  padding-right: 24px;
  margin: 0;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}
