.thumbnail {
  width: 100%;
}

.video-title {
  font-size: 14px;
  margin-top: 0px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 9px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 20px;
}

.profile-picture {
  width: 40px;
  margin-top: 7px;
  border-radius: 50%;
}

.thumbnail-row {
  position: relative;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-stats {
  display: inline-block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.live {
  font-size: 12px;
  display: inline-block;
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.video-time {
  position: absolute;
  background-color: black;
  color: white;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
